data/*
!data/spurious_correlations/
!data/evaluation
!data/testing
!data/training
inference/outputs/
output_logs/
wandb/
spurious_inject/OLMo-core/
spurious_inject/finetuning/*
lm-evaluation-harness/
!spurious_inject/finetuning/finetune_olmo_spurious.py
!spurious_inject/finetuning/evaluate.py
inference/mmlu_eval_results/
inference/mmlu_logs/